/*
  Loading Identifier
*/
.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.status {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: anim 2s linear infinite;
}

.status:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

/*
  Description and information
*/
.info {
  opacity: 0;

  top: 0px;
  left: 25px;
  font-size: 18px;
  position: absolute;

  color: white;
  text-align: left;

  /*
    Prevent text selection and allow user to control scene
    when clicking in info div region
  */
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  pointer-events: none;

}
.link {
  text-decoration-thickness: 1px;

  color: #505050;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  pointer-events: auto;

}

.debug {
  right: 0px;
  bottom: 0px;

  color: white;
  position: absolute;
}



.fpsCount,
.fishCount {
  font-size: 1.25rem;
}

h1 {
  color: #252525;
}

/*
  Body
*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  overscroll-behavior: none;
}